<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Config testNG.xml suite" parallel="classes" thread-count="3">
    <parameter name="isCI" value="false"/>

    <test name="Calculator Tests">
        <groups>
            <run>
                <include name="basic"/>
                <include name="edge"/>
            </run>
        </groups>

        <classes>
            <class name="exercise2_1.CalculatorTest"/>
        </classes>
    </test>

    <test name="Element Tests">
        <classes>
            <class name="Exercise1_2.ElementTest">
                <methods>
                    <exclude name="testAdvancedXPathLocators"/>
                    <exclude name="testBasicLocators"/> <!-- temporary excluding because website error-->
                </methods>
            </class>
        </classes>
    </test>

</suite>
